<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615427752204-82u42cpv9jfnp99cgbal2m8lkli7f6e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615427752204-82u42cpv9jfnp99cgbal2m8lkli7f6e4</string>
	<key>API_KEY</key>
	<string>AIzaSyAx273vACeDpg69Xycy2SCUhRiCQ4_dvpo</string>
	<key>GCM_SENDER_ID</key>
	<string>615427752204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.porsche.vkapp</string>
	<key>PROJECT_ID</key>
	<string>vk-app-6e493</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-6e493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:615427752204:ios:f83a88000d46119ae70929</string>
</dict>
</plist>
